<mat-drawer-container class="container" fxFlexFill fxShow fxHide.lt-md="true">
  <mat-drawer mode="side" opened class="mat-typography">
    <div fxLayout="column" fxFlexFill>
      <mat-toolbar color="primary">
        <h1>Eorzea's Folly</h1>
      </mat-toolbar>
      <div class="sidebar" fxFlex="1 0 auto">
        <ng-container [ngTemplateOutlet]="form"></ng-container>
      </div>
      <footer fxLayout="row" fxLayoutAlign="end">
        <a mat-button href="https://old.reddit.com/r/ffxiv" target="_blank"
          >FFXIV Subreddit</a
        >
        <a
          mat-button
          href="https://github.com/tstackhouse/ffxiv-quest-maker"
          target="_blank"
          >GitHub</a
        >
      </footer>
    </div>
  </mat-drawer>
  <mat-drawer-content class="main-content">
    <div fxLayout>
      <ng-container [ngTemplateOutlet]="questBox"></ng-container>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<div fxHide fxShow.lt-md="true">
  <div class="mat-typography">
    <mat-toolbar color="primary">
      <h1>Eorzea's Folly</h1>
    </mat-toolbar>
  </div>
  <ng-container [ngTemplateOutlet]="questBox"></ng-container>
  <button
    mat-fab
    color="primary"
    aria-label="Edit"
    class="edit-button"
    (click)="openEditSheet(form)"
  >
    <mat-icon>edit</mat-icon>
  </button>
</div>

<ng-template #form>
  <div fxLayout="column">
    <app-config-form [(questData)]="questData"></app-config-form>
    <button
      fxHide
      fxShow.lt-md="true"
      fxFlexAlign="end"
      mat-raised-button
      color="primary"
      (click)="closeSheet()"
    >
      Done
    </button>
  </div>
</ng-template>

<ng-template #questBox>
  <app-quest [config]="questData"></app-quest>
</ng-template>
