<main #questWindow [style.scale]="scaleFactor$ | async">
  <header>
    <h1 [class]="config.type">{{ config.questTitle }}</h1>
  </header>
  <section>
    <figure>
      <ng-template #image>
        <img src="../../assets/images/wol.jpeg" />
      </ng-template>
      <div class="blur">
        <ng-container [ngTemplateOutlet]="image"></ng-container>
      </div>
      <div class="image">
        <ng-container [ngTemplateOutlet]="image"></ng-container>
      </div>
    </figure>
    <h2>Description</h2>
    <p [innerHTML]="config.description"></p>
  </section>
  <footer>
    <button>Accept</button>
    <button>Decline</button>
  </footer>
</main>
