<main>
  <header>
    <h1 class="quest-start">Quest Title</h1>
  </header>
  <section>
    <figure>IMAGE HERE</figure>
    <h2>Description</h2>
    <p>
      Garnet ultima ultima weapon onion knight maiden's kiss osmose dragon wrist
      Fenir blue mage. Biggs ultima ultima weapon dragon's hair sleeping bag bio
      survial vest Diabolos summoner. Lenna waterga magic pot missing score map
      curaga rubber suit Ifrit ranger.
    </p>
  </section>
  <footer>
    <button>Accept</button>
    <button>Decline</button>
  </footer>
</main>
