@font-face {
  font-family: "Myriad";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad"),
    url("../../assets/fonts/MyriadPro-Regular.woff") format("woff");
}

:host {
  display: block;
  scale: 0.75;
  position: relative;
}

main {
  position: absolute;
  width: 882px + 61px;
  height: 885px;
  background: url("../../assets/images/Backdrop.png") 14px 109px no-repeat;
  padding-top: 78px;
  font-family: "Axis", sans-serif;
  font-weight: normal;
}

header {
  width: 909px;
  height: 382px;
  background: url("../../assets/images/TopFrame.png") 0px 0px no-repeat;
  padding-top: 106px;

  h1 {
    text-align: center;
    margin: 0;
    font-size: 33px;

    &::before {
      content: "";
      background: url("../../assets/images/QuestStart.png") 0px 0px no-repeat;
      display: block;
      left: 409px;
      top: 53px;
      position: absolute;
      width: 89px;
      height: 116px;
    }
  }

  .msq-start {
    &::before {
      background-image: url("../../assets/images/MSQStart.png");
      left: 402px;
      top: 28px;
      width: 110px;
      height: 117px;
    }
  }

  &::after {
    content: "";
    background: url("../../assets/images/LeftFrame.png") 0px 0px no-repeat;
    display: block;
    left: 0;
    top: 460px;
    position: absolute;
    width: 44px;
    height: 328px;
  }
}

section {
  left: 64px;
  top: 270px;
  position: absolute;
  width: 780px;
  height: 545px;
  padding-top: 20px;

  &::before,
  &::after {
    content: "";
    background: url("../../assets/images/Seperator.png") 0px 0px no-repeat;
    width: 780px;
    height: 8px;
    position: absolute;
  }

  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }

  figure {
    width: 720px;
    height: 220px;
    background-color: burlywood;
    margin: 0 auto;
  }

  h2 {
    height: 37px;
    background: url("../../assets/images/DescriptionIcon.png") 0px 0px no-repeat;
    padding-left: 42px;
    padding-top: 4px;
    font-size: 24px;
    margin: 12px 0 0 -12px;
    color: white;
    text-shadow: -1.5px -1.5px 0 rgba(75, 75, 75, 0.7),
      1.5px -1.5px 0 rgba(75, 75, 75, 0.7), -1.5px 1.5px 0 rgba(75, 75, 75, 0.7),
      1.5px 1.5px 0 rgba(75, 75, 75, 0.7);
  }

  p {
    width: 720px;
    height: 220px;
    margin: 0 auto;
    font-size: 30px;
  }
}

.seperator {
  width: 780px;
  height: 8px;
  background-image: url("../../assets/images/Seperator.png");
}

footer {
  width: 909px;
  height: 111px;
  background: url("../../assets/images/BottomFrame.png") 0px 0px no-repeat;
  bottom: 0;
  position: absolute;
  padding-top: 70px;
  text-align: center;

  &::before {
    content: "";
    background: url("../../assets/images/RightFrame.png") 0px 0px no-repeat;
    display: block;
    right: 0;
    top: -322px;
    position: absolute;
    width: 44px;
    height: 328px;
  }

  button {
    background: url("../../assets/images/AcceptButton.png") 0px 3px no-repeat;
    width: 279px;
    height: 50px;
    color: #fff; // FIXME
    border: 0;
    padding: 0;
    margin: -3px 39px 0;
    font-size: 24px;
    text-shadow: -1px -1px 0 rgba(75, 75, 75, 0.3),
      1px -1px 0 rgba(75, 75, 75, 0.3), -1px 1px 0 rgba(75, 75, 75, 0.3),
      1px 1px 0 rgba(75, 75, 75, 0.3);
  }
}

// autogenerated CSS from the PSD conversion
#AcceptButton {
  left: 182px;
  top: 852px;
  position: absolute;
  width: 279px;
  height: 50px;
  // z-index: 2;
}

#DeclineButton30opaci {
  left: 539px;
  top: 852px;
  position: absolute;
  width: 279px;
  height: 50px;
  // z-index: 3;
}

#Seperator {
  left: 111px;
  top: 270px;
  position: absolute;
  width: 780px;
  height: 8px;
  // z-index: 4;
}

#Seperatorcopy {
  left: 111px;
  top: 827px;
  position: absolute;
  width: 780px;
  height: 8px;
  // z-index: 5;
}

#DescriptionIcon {
  left: 94px;
  top: 525px;
  position: absolute;
  width: 37px;
  height: 37px;
  // z-index: 6;
}

#BottomFrame {
  left: 47px;
  top: 782px;
  position: absolute;
  width: 909px;
  height: 181px;
  // z-index: 7;
}

#LeftFrame {
  left: 47px;
  top: 460px;
  position: absolute;
  width: 44px;
  height: 328px;
  // z-index: 8;
}

#RightFrame {
  left: 912px;
  top: 460px;
  position: absolute;
  width: 44px;
  height: 328px;
  // z-index: 9;
}

#TopFrame {
  left: 47px;
  top: 78px;
  position: absolute;
  width: 909px;
  height: 382px;
  // z-index: 10;
}

#Description {
  left: 136px;
  top: 532px;
  position: absolute;
  width: 155px;
  height: 29px;
  // z-index: 11;
}

#Accept {
  left: 279px;
  top: 866px;
  position: absolute;
  width: 85px;
  height: 26px;
  // z-index: 12;
}

#Decline30opacityfori {
  left: 634px;
  top: 866px;
  position: absolute;
  width: 89px;
  height: 21px;
  // z-index: 13;
}

#QuestStart {
  left: 456px;
  top: 53px;
  position: absolute;
  width: 89px;
  height: 116px;
  // z-index: 14;
}

#MSQStart {
  left: 449px;
  top: 28px;
  position: absolute;
  width: 110px;
  height: 117px;
  // z-index: 15;
}

#IMAGEGOESHERE {
  left: -10px;
  top: 1px;
  position: absolute;
  width: 1000px;
  height: 1000px;
  // z-index: 16;
}

#Description_0 {
  left: 128px;
  top: 578px;
  position: absolute;
  width: 693px;
  height: 215px;
  // z-index: 17;
}

#Title {
  left: 416px;
  top: 184px;
  position: absolute;
  width: 178px;
  height: 33px;
  // z-index: 18;
}
